<section class="advantages" id="advantages">
	<div class="advantages__wrapper">
		<div class="advantages__inner">
			<article class="advantages-item advantages-item--left">
				<div class="advantages-item__inner">
					<div class="advantages-item__top">
						<div class="advantages-item__title title advantages-item__title--white">
							our services
						</div>
						<p class="advantages-item__text">
							We specialise in transfers to and from Sydney Airport – both Domestic and International – to all
							Sydney suburbs. In addition, we often transport passengers from Sydney Airport to a range of
							regional,
							remote and coastal locations, such as Bowral, Newcastle, Wollongong and Ulladulla. Competitive
							prices
							are negotiated for these long journeys, making it a very attractive option for travelers.
						</p>
					</div>
					<a href="#" class="advantages-item__link">
						link-name
					</a>
				</div>
			</article>
			<article class="advantages-item advantages-item--center">
				<div class="advantages-item__inner">
					<div class="advantages-item__top">
						<div class="advantages-item__title title advantages-item__title--white">
							WEDDINGS
						</div>
						<p class="advantages-item__text">
							Sydney Limo Company can provide car hire to make your special day one to remember. Relax in our
							chauffeur driven limousines knowing that all chauffeurs are smartly dressed, courteous, discrete
							and
							attentive to your needs.
						</p>
					</div>
					<a href="#" class="advantages-item__link">
						link-name
					</a>
				</div>
			</article>
			<article class="advantages-item advantages-item--right">
				<div class="advantages-item__inner">
					<div class="advantages-item__top">
						<div class="advantages-item__title title advantages-item__title--white">
							TOURS
						</div>
						<p class="advantages-item__text">
							Enjoy the sights of Sydney from the comfort of a chauffeur driven corporate car or limousine. See
							the
							sights, sit back, relax and take it easy.
						</p>
					</div>
					<a href="#" class="advantages-item__link">
						link-name
					</a>
				</div>
			</article>
		</div>
	</div>
</section>