<section class="contact" id="contact">
	<div class="contact__wrapper">
		<div class="container">
			<div class="contact__inner">
				<div class="contact-col contact-col--left">
					<div class="contact-col__title title">
						сontact
					</div>
					<p class="contact-col__subtitle">
						Tick boxes on short form
					</p>
					<form class="contact-col__form contact-form">
						<div class="contact-form__row">
							<input id="radio-baby" class="contact-form__radio-input" type="radio" name="size" value="baby seat"
								checked>
							<label for="radio-baby" class="contact-form__label contact-form__label-radio">
								Baby Seat Required
							</label>
							<input id="radio-large" class="contact-form__radio-input" type="radio" name="size"
								value="extra large">
							<label for="radio-large" class="contact-form__label contact-form__label-radio">
								Extra Luggage
							</label>
						</div>
						<select id="contact-form__select" class="contact-form__select" name="select">
							<option value="value1" selected>Vehicle Type</option>
							<option value="value2">Vehicle Type 2</option>
							<option value="value3">Vehicle Type 3</option>
						</select>
						<div class="contact-form__row">
							<label class="contact-form__label">
								Name:
								<span class="contact-form__label--required">*</span>
								<input class="contact-form__name-input" type="text" required>
							</label>
							<label class="contact-form__label">
								Email Address:
								<span class="contact-form__label--required">*</span>
								<input class="contact-form__email-input" type="email" required>
							</label>
						</div>
						<label class="contact-form__label contact-form__label-textarea">
							Details:
							<textarea class="contact-form__textarea">sdsdsd</textarea>
						</label>
						<button class="contact-form__btn" type="submit">
							Submit
						</button>
					</form>
				</div>
				<div class="contact-col contact-col--right">
					<div class="contact-col__title title">
						your
						<span class="contact-col__title--red title--red">
							estimate
						</span>
					</div>
					<span class="contact-col__price">
						$ 1500.00
					</span>
					<p class="contact-col__text">
						Tolls addedif used, see price guide for more information
						and special events premiums
					</p>
					<a href="#" class="contact-col__link">
						Plan another trip
					</a>
				</div>
			</div>
		</div>
	</div>
</section>