<section class="fleet" id="fleet">
	<div class="fleet__wrapper">
		<div class="container">
			<div class="fleet__title title">
				our
				<span class="fleet__title--red title--red">
					FLEET
				</span>
			</div>
			<div class="fleet__subtitle">
				Few words about cars. How great they are
			</div>
			<div class="fleet__inner">
				<article class="fleet-item">
					<a href="#" class="fleet-item__inner">
						<img class="fleet-item__img" src="images/content/bmw-slider.png" alt="car">
						<div class="fleet-info">
							<p class="fleet-info__row">
								Passengers: 1
							</p>
							<p class="fleet-info__row">
								Suitcases: 2
							</p>
							<p class="fleet-info__row">
								Hand Luggage: 3
							</p>
						</div>
						<p class="fleet-item__title title">
							BMW 7 SERIES
						</p>
					</a>
				</article>
				<article class="fleet-item">
					<a href="#" class="fleet-item__inner">
						<img class="fleet-item__img" src="images/content/audi-slider.png" alt="car">
						<div class="fleet-info">
							<p class="fleet-info__row">
								Passengers: 1
							</p>
							<p class="fleet-info__row">
								Suitcases: 2
							</p>
							<p class="fleet-info__row">
								Hand Luggage: 3
							</p>
						</div>
						<p class="fleet-item__title title">
							AUDI A8
						</p>
					</a>
				</article>
				<article class="fleet-item">
					<a href="#" class="fleet-item__inner">
						<img class="fleet-item__img" src="images/content/q7-slider.png" alt="car">
						<div class="fleet-info">
							<p class="fleet-info__row">
								Passengers: 1
							</p>
							<p class="fleet-info__row">
								Suitcases: 2
							</p>
							<p class="fleet-info__row">
								Hand Luggage: 3
							</p>
						</div>
						<p class="fleet-item__title title">
							AUDI Q7
						</p>
					</a>
				</article>
				<article class="fleet-item">
					<a href="#" class="fleet-item__inner">
						<img class="fleet-item__img" src="images/content/bmw-slider.png" alt="car">
						<div class="fleet-info">
							<p class="fleet-info__row">
								Passengers: 1
							</p>
							<p class="fleet-info__row">
								Suitcases: 2
							</p>
							<p class="fleet-info__row">
								Hand Luggage: 3
							</p>
						</div>
						<p class="fleet-item__title title">
							BMW 7 SERIES
						</p>
					</a>
				</article>
				<article class="fleet-item">
					<a href="#" class="fleet-item__inner">
						<img class="fleet-item__img" src="images/content/audi-slider.png" alt="car">
						<div class="fleet-info">
							<p class="fleet-info__row">
								Passengers: 1
							</p>
							<p class="fleet-info__row">
								Suitcases: 2
							</p>
							<p class="fleet-info__row">
								Hand Luggage: 3
							</p>
						</div>
						<p class="fleet-item__title title">
							AUDI A8
						</p>
					</a>
				</article>
				<article class="fleet-item">
					<a href="#" class="fleet-item__inner">
						<img class="fleet-item__img" src="images/content/q7-slider.png" alt="car">
						<div class="fleet-info">
							<p class="fleet-info__row">
								Passengers: 1
							</p>
							<p class="fleet-info__row">
								Suitcases: 2
							</p>
							<p class="fleet-info__row">
								Hand Luggage: 3
							</p>
						</div>
						<p class="fleet-item__title title">
							AUDI Q7
						</p>
					</a>
				</article>
			</div>
		</div>
	</div>
</section>