<footer class="footer" id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="footer__inner">
				<div class="footer-col footer-col--left">
					<div class="title footer-col__title">
						SYDNEY
						<span class="title--red">
							CBD LIMOS
						</span>
					</div>
					<ul class="footer-menu">
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link footer-link">
								SERVICES                       
							</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link footer-link">
								FLEET 
							</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link footer-link">
								VIP GUESTS 
							</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link footer-link">
								TESTIMONIALS
							</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link footer-link">
								BOOKING
							</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link footer-link">
								WEDDINGS
							</a>
						</li>
					</ul>
				</div>
				<div class="footer-col footer-col--right">
					<div class="title footer-col__title">
						Connect 
						<span class="title--red">
							With Us
						</span>
					</div>
					<address class="footer-address">
						<a href="tel:610400755765" class="footer-link footer-link--phone">
							+61 - 0400 755 765
						</a>
						<a href="mailto:bookings@sydneycbdlimos.com.au" class="footer-link footer-link--email">
							bookings@sydneycbdlimos.com.au
						</a>
					</address>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="footer__inner footer__inner--bottom">
				<div class="footer-col footer-col--left">
					<a href="#" class="footer-link">
						Terms And Conditions
					</a>
					<a href="#" class="footer-link footer-link--red">
						Privacy
					</a>
				</div>
				<div class="footer-col footer-col--right footer-col--right-down">
					<a href="#" class="footer-link">
						© 2014 SYDNEY CBD LIMOS . All rights reserved
					</a>
					<ul class="social-list">
						<li class="social-list__item">
							<a href="#" class="social-list__link social-list__link--facebook">
								facebook
							</a>
						</li>
						<li class="social-list__item">
							<a href="#" class="social-list__link social-list__link--twitter">
								twitter
							</a>
						</li>
						<li class="social-list__item">
							<a href="#" class="social-list__link social-list__link--google">
								google
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>