<header class="header" id="header">
	<div class="header__wrapper">
		<div class="container">
			<div class="header__inner">
				<a href="#" class="logo">
					<img class="logo__img active logo__img--red" src="images/logo--red.png" alt="logo">
					<img class="logo__img logo__img--white" src="images/logo--white.png" alt="logo">
				</a>
				<button type="button" class="header-btn">
					<span class="top-line"></span>
					<span class="middle-line"></span>
					<span class="bottom-line"></span>
				</button>
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link menu__link--active">
								Home
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								About Us
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Services
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Fleet
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								VIP GUESTS
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								TESTIMONIALS
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Booking
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								WEDDING
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								TOURS
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								PRICING GUIDE
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								CONTACT
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>