<section class="intro-slider">
	<div class="intro-slider__wrapper">
		<div class="container">
			<div class="intro-slider__inner">
				<article class="intro-item">
					<a href="#" class="intro-item__inner">
						<img class="intro-item__img" src="images/content/lexus.png" alt="Car">
						<div class="intro-info intro-item__info">
							<div class="title intro-info__title">
								Lorem
								<span class="intro-info__title--light">
									ipsum
								</span>
							</div>
							<p class="intro-info__text">
								Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
								nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu
								in elit.
							</p>
							<div class="intro-info__num">
								<span class="intro-info__num--light">
									01
								</span>
								|05
							</div>
						</div>
					</a>

				</article>
				<article class="intro-item">
					<a href="#" class="intro-item__inner">
						<img class="intro-item__img" src="images/content/audi.png" alt="Car">
						<div class="intro-info intro-item__info">
							<div class="title intro-info__title">
								Lorem
								<span class="intro-info__title--light">
									ipsum
								</span>
							</div>
							<p class="intro-info__text">
								Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
								nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu
								in elit.
							</p>
							<div class="intro-info__num">
								<span class="intro-info__num--light">
									02
								</span>
								|05
							</div>
						</div>
					</a>
				</article>
				<article class="intro-item">
					<a href="#" class="intro-item__inner">
						<img class="intro-item__img" src="images/content/mkt.png" alt="Car">
						<div class="intro-info intro-item__info">
							<div class="title intro-info__title">
								Lorem
								<span class="intro-info__title--light">
									ipsum
								</span>
							</div>
							<p class="intro-info__text">
								Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
								nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu
								in elit.
							</p>
							<div class="intro-info__num">
								<span class="intro-info__num--light">
									03
								</span>
								|05
							</div>
						</div>
					</a>
				</article>
				<article class="intro-item">
					<a href="#" class="intro-item__inner">
						<img class="intro-item__img" src="images/content/mercedes-vito.png" alt="Car">
						<div class="intro-info intro-item__info">
							<div class="title intro-info__title">
								Lorem
								<span class="intro-info__title--light">
									ipsum
								</span>
							</div>
							<p class="intro-info__text">
								Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
								nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu
								in elit.
							</p>
							<div class="intro-info__num">
								<span class="intro-info__num--light">
									04
								</span>
								|05
							</div>
						</div>
					</a>
				</article>
				<article class="intro-item">
					<a href="#" class="intro-item__inner">
						<img class="intro-item__img" src="images/content/bmw.png" alt="Car">
						<div class="intro-info intro-item__info">
							<div class="title intro-info__title">
								Lorem
								<span class="intro-info__title--light">
									ipsum
								</span>
							</div>
							<p class="intro-info__text">
								Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
								nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu
								in elit.
							</p>
							<div class="intro-info__num">
								<span class="intro-info__num--light">
									05
								</span>
								|05
							</div>
						</div>
					</a>
				</article>
			</div>
		</div>
	</div>
</section>