<section class="testimonials" id="testimonials">
	<div class="testimonials__wrapper">
		<div class="container">
			<div class="testimonials__title title">
				Testimonials
			</div>
			<div class="testimonials__subtitle">
				What people say about us
			</div>
			<div class="testimonials__inner">
				<article class="testimonials-item">
					<a href="#" class="testimonials-item__inner">
						<img src="images/content/testimonials1.jpg" alt="testimonial" class="testimonials-item__img">
						<p class="testimonials-item__text">
							“We were very satisfied with your services. The driver was on time, smartly dressed, polite and
							helpful. The car was comfortable and spotless and the drive was smooth and pleasant. We will use your
							company again the next time we are in Sydney.”
						</p>
						<div class="testimonials-item__name title">
							Brian Sterg
						</div>
					</a>
				</article>
				<article class="testimonials-item">
					<a href="#" class="testimonials-item__inner">
						<img src="images/content/testimonials2.jpg" alt="testimonial" class="testimonials-item__img">
						<p class="testimonials-item__text">
							“I used to avoid using corporate cars because I thought they were hugely expensive and I also didn’t
							know if I could use Cab charge. I was so wrong! I only pay about 10-15% more to use your services, yet
							I save so much time not waiting for a taxi. I won’t be going back to taxis any time soon.”
						</p>
						<div class="testimonials-item__name title">
							Jane Pitts
						</div>
					</a>
				</article>
				<article class="testimonials-item">
					<a href="#" class="testimonials-item__inner">
						<img src="images/content/testimonials3.jpg" alt="testimonial" class="testimonials-item__img">
						<p class="testimonials-item__text">
							“Tahir, the transport for our wedding went so smoothly thanks to you and your drivers. The cars were
							beautiful, but it was the drivers who made the day extra perfect. Opening the doors for us, avoiding
							using mobile phones, and providing cold water were really great. Thanks for helping make our day more
							than we could have expected!”
						</p>
						<div class="testimonials-item__name title">
							Melissa Hinds
						</div>
					</a>
				</article>
				<article class="testimonials-item">
					<a href="#" class="testimonials-item__inner">
						<img src="images/content/testimonials1.jpg" alt="testimonial" class="testimonials-item__img">
						<p class="testimonials-item__text">
							“We were very satisfied with your services. The driver was on time, smartly dressed, polite and
							helpful. The car was comfortable and spotless and the drive was smooth and pleasant. We will use your
							company again the next time we are in Sydney.”
						</p>
						<div class="testimonials-item__name title">
							Brian Sterg
						</div>
					</a>
				</article>
				<article class="testimonials-item">
					<a href="#" class="testimonials-item__inner">
						<img src="images/content/testimonials2.jpg" alt="testimonial" class="testimonials-item__img">
						<p class="testimonials-item__text">
							“I used to avoid using corporate cars because I thought they were hugely expensive and I also didn’t
							know if I could use Cab charge. I was so wrong! I only pay about 10-15% more to use your services, yet
							I save so much time not waiting for a taxi. I won’t be going back to taxis any time soon.”
						</p>
						<div class="testimonials-item__name title">
							Jane Pitts
						</div>
					</a>
				</article>
				<article class="testimonials-item">
					<a href="#" class="testimonials-item__inner">
						<img src="images/content/testimonials3.jpg" alt="testimonial" class="testimonials-item__img">
						<p class="testimonials-item__text">
							“Tahir, the transport for our wedding went so smoothly thanks to you and your drivers. The cars were
							beautiful, but it was the drivers who made the day extra perfect. Opening the doors for us, avoiding
							using mobile phones, and providing cold water were really great. Thanks for helping make our day more
							than we could have expected!”
						</p>
						<div class="testimonials-item__name title">
							Melissa Hinds
						</div>
					</a>
				</article>
			</div>
		</div>
	</div>
</section>